<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="TestExtension\Blog\Api\PostManagementInterface" type="TestExtension\Blog\Service\PostManagement"/>
    <preference for="TestExtension\Blog\Api\Data\PostInterface" type="TestExtension\Blog\Model\Post"/>
</config>

