* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.post-container {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

ul {
    list-style: none;
}

.post-image {
    height: 20rem;
    background: #c3ffff;
    border-radius: 1rem;
}

.post-meta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.post-container__content {
    width: 95%;
    margin: auto;
    text-align: justify;
}
